<!DOCTYPE html>
<html>
  <head>
    <script src="{{ STATIC_URL }}bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="{{ STATIC_URL }}bower_components/mypolymer/proto-element.html">
    <link rel="import" href="{{ STATIC_URL }}bower_components/mypolymer/picture-frame.html">
    <link rel="import" href="{{ STATIC_URL }}bower_components/mypolymer/name-tag.html">
    <link rel="import" href="{{ STATIC_URL }}bower_components/mypolymer/editable-name-tag.html">
  </head>
  <body>
    <editable-name-tag></editable-name-tag>
  </body>
</html>