{% extends 'html5base.html' %} 
{% load i18n %}
{% load filter_extras %}
{% block title %} Blog Template for Bootstrap {% endblock %}


{% block contents %}
<main role="main" class="container">
<div class="row">
	<div class="col col-md-9">
		<div class="card mt-2">
			<div class="card-header">
			     <h4><span class="badge mx-2">单词：{{ word.fword }}</span><span class="badge mx-2">读音：{{ word.fpronunciation }}</span></h4>
			</div>
			<div class="card-body">
			    <p>
			    {% ifequal trantype 'jatocn' %}
			          中文释义
			    {% endifequal %}
			    </p>
				<form method="post">
					{% csrf_token %}
					<div class="form-group row">
						<label for="fword" class="col-sm-3 col-form-label text-right">单词</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="fword" name="fword"
								value="{{ form.fword.value }}" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="fpronunciation"
							class="col-sm-3 col-form-label text-right">读音</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="fpronunciation"
								name="fpronunciation" value="{{ form.fpronunciation.value }}">
						</div>
					</div>
					<!-- 
					<div class="form-group row">
						<label for="fwordclass" class="col-sm-3 col-form-label text-right">词性</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="fwordclass"
								name="fwordclass" value="{{ form.fwordclass.value }}">
						</div>
					</div>
					 -->
					<div class="form-group row">
						<div class="col-sm-5"></div>
						<button type="submit" class="btn btn-primary mb-2">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col col-md-3">
	    {% for tran in trans %}
		<div class="card mt-2">
			<div class="card-header">{{ tran.title }}</div>
			<div class="card-body">
			    <a href="/dict/{{ object.fwordno }}/{{ tran.trtype }}/" class="btn btn-sm btn-primary">添加</a>
			</div>
		</div>
		{% endfor %}
    </div>
</div>    
</main>
<!-- /.container -->
{% endblock %} 

{% block js %}
<script>
	Holder.addTheme('thumb', {
		bg : '#55595c',
		fg : '#eceeef',
		text : 'Thumbnail'
	});
</script>
{% endblock %}
</body>
</html>