{% extends 'html5base.html' %} 
{% load i18n %}
{% load filter_extras %}
{% block title %} Blog Template for Bootstrap {% endblock %}


{% block contents %}
<main role="main" class="container">
<div class="card mt-2">
	<div class="card-header">

	</div>
	<div class="card-body">
	<form method="post">
	{% csrf_token %}
  <div class="form-group row">
    <label for="fword" class="col-sm-3 col-form-label text-right">单 词</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fword" name="fword" value="{{ form.fword.value }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="fpronunciation" class="col-sm-3 col-form-label text-right">读音</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fpronunciation" name="fpronunciation" value="{{ form.fpronunciation.value }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="fwordclass" class="col-sm-3 col-form-label text-right">词性</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fwordclass" name="fwordclass" value="{{ form.fwordclass.value }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="fwordclass" class="col-sm-3 col-form-label text-right">释义</label>
    <div class="col-sm-6">
      {{ object|modelname }}
      <a></a>
    </div>
  </div>     
  <div class="form-group row">
  <div class="col-sm-5"></div>
  <button type="submit" class="btn btn-primary mb-2">保存</button>
  </div>	
	</form>
	</div>
</div>
</main>
<!-- /.container -->
{% endblock %} 

{% block js %}
<script>
	Holder.addTheme('thumb', {
		bg : '#55595c',
		fg : '#eceeef',
		text : 'Thumbnail'
	});
</script>
{% endblock %}
</body>
</html>