{% extends 'html5base.html' %} 
{% load i18n %} 

{% block title %}用户注册 {% endblock %}


{% block contents %}
<main role="main" class="container">
  <h1>创建一个用户</h1>
  {% if errors %}
        <li>
            {% for error in errors %}
             <p style="color: red;">
                {{error}}
             </p>
              {% endfor %}
        </li>
  {% endif %}
  <form action="" method="post">
  {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="提交">
  </form>
</main>
<!-- /.container -->
{% endblock %} 