<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
{{ nextcursor }} <p>
{{ previouscursor }}
</p>
<table border="1" width="80%">
	<tr>
		<th></th>
		<th>单词</th>
		<th>读音</th>
		<th>释义</th>
	</tr>
{% for word in jword %}
  {# Each "word" is a jword model object. #}
  {{ word.full_name|upper }}
	<tr>
        <td><input type="radio" name="value" value="{{ word.key }}"></td>	
		<td>{{word.fjword}}</td>
		<td>{{word.fpronunciation}}</td>
		<td>{{word.fcword}}</td>
	</tr>
{% endfor %}
</table>


 <a href="/cursortest2/to/?cur={{ previousurl }}">上一页</a>
 <a href="/cursortest2/from/?cur={{ nexturl }}">下一页</a>

</body>
</html>