{% extends 'wordbase.html' %}

{% block title %}
记忆代码列表
{% endblock %}

{% block content %}
    {{ desc }}

<form action="/jxuexi/curvecode/" method="post">
{% csrf_token %}
<table border="1" width="80%">
	<tr>
		<th></th>
		<th>状态代码</th>
		<th>注解</th>
		<th>下步间隔时间</th>
	</tr>
{% for codelist in codelists %}
  {{ codelist.full_name|upper }}
	<tr>
        <td><input type="radio" name="wordkey" value="{{ codelist.pk }}"></td>	
		<td>{{codelist.fstateid}}</td>
		<td>{{codelist.fstatename}}</td>
		<td>{{codelist.fnexttime}}</td>
	</tr>
{% endfor %}
</table>
<p>
<input type="submit" name="new" value="新增" class="button"></input>
<input type="submit" name="edit" value="编辑" class="button"></input>
</form>

{% endblock %}