{% extends 'html5base.html' %} 
{% load i18n %} 
{% block title %} Blog Template for Bootstrap {% endblock %} 


{% block contents %}
<main role="main" class="container">
<div class="card mt-2">
	<div class="card-header">
		<form method="post">
		    {% csrf_token %}
		    <div class="form-group row">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary {% if op == 'cn2en' %}active{% endif %}"> <input type="radio"
					name="options" id="" autocomplete="off" value="cn2en" {% if op == 'cn2en' %}checked{% endif %}>中/英
				</label> 
				<label class="btn btn-secondary {% if op == 'en2cn' %}active{% endif %}"> <input type="radio"
					name="options" id="" autocomplete="off" value="en2cn" {% if op == 'en2cn' %}checked{% endif %}>英/中
				</label> 
				<label class="btn btn-secondary {% if op == 'cn2jp' %}active{% endif %}"> <input type="radio"
					name="options" id="" autocomplete="off" value="cn2jp" {% if op == 'cn2jp' %}checked{% endif %}>中/日
				</label> 
				<label class="btn btn-secondary {% if op == 'jp2cn' %}active{% endif %}"> <input type="radio"
					name="options" id="" autocomplete="off" value="jp2cn" {% if op == 'jp2cn' %}checked{% endif %}>日/中
				</label>
			</div>
			</div>
			<div class="form-group row">
				<label class="sr-only" for="word">单词</label> 
				<input type="text" class="form-control mb-2 mr-sm-2 col-sm-6"
					id="word" name="word" placeholder="输入单词" value="{{ sword }}" required>
				<button type="submit" class="btn btn-primary mb-2 col-sm-1">查询</button>
			</div>
		</form>
	</div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
		{% for word in wordli %}
		<li class="list-group-item">{{ word.1 }}&emsp;[{{ word.2 }}]&emsp;&emsp;{{ word.4 }}&emsp;&emsp;
		      <a class="btn btn-primary btn-sm" href="/ustudy/addnew/{{ lang }}/{{ word.0 }}/" role="button">加入生词本</a>
		      <a href="/ustudy/addtag/{{ lang }}/{{ word.0 }}/">加标签</a>
		</li>
		{% endfor %}
		</ul>
	</div>
</div>
</main>
<!-- /.container -->
{% endblock %} 


{% block js %}
<script>
	Holder.addTheme('thumb', {
		bg : '#55595c',
		fg : '#eceeef',
		text : 'Thumbnail'
	});
</script>
{% endblock %}